@import "/src/assets/styles/App.scss";

.container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  justify-content: space-between;
}

.content {
  display: flex;
  align-items: center;
}

.order {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background-color: $primaryGreen;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  font-weight: bold;
}

.text {
  margin-right: 10px;
}

.detail {
  color: $primaryGreen;

  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}

.buttons {
  display: flex;
  justify-content: space-between;
  gap: 10px;

  img {
    width: 16px;
  }
}
