@import "/src/assets/styles/App.scss";


.item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  justify-content: space-between;
}

.content {
  display: flex;
  align-items: center;
}

.realCheckbox {
  display: none;
}

.checkbox {
  border: 1px solid;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  margin-right: 10px;

  &.active {
    background-color: $primaryGreen;
  }

  svg {
    width: 24px;
    height: 24px;

    path {
      fill: #fff;
    }
  }
}

.centered {
  display: flex;
  justify-content: center;
  height: 150px;
  align-items: center;
}

.desc {
  &.active {
    text-decoration: line-through;
  }
}

.delete {
  cursor: pointer;
  margin-left: 10px;

  &:hover {
    text-decoration: underline;
  }

  img {
    width: 16px;
    height: 16px;
  }
}
