.container{
  flex: 1;
  border: 1px solid #ccc;
  min-width: 300px;
  padding: 20px;
  max-height: calc(100vh - 60px);
  overflow-y: scroll;
  min-height: 500px;
}

.centered{
  display: flex;
  justify-content: center;
  margin-top: 125px;
}
